/* PÁGINA E BACKGROUND */

.mainHome{
   background-image: url('./bg-desktop.png');
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   background-attachment: fixed;
}

@media (min-width:320px) and (max-width: 720px) {
   .mainHome{
      background-image: url('./bg-mobile.png');
   }
}

/* PRIMEIRA SECTION */

/* CONFIGURAÇÃO DA SECTION */
.sectionHomeNews{
   width: 100%;
   height: 100vh;
}

/* DIV QUE TEM O DESTAQUE OU NOTICIA */
.divHomeNews{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   width: 95%;
   max-width: 500px;
   
   background-color: var(--sabrina-newspaper);
   padding: 10px;
   border-radius: 8px;
}

@media (min-width:320px) and (max-width: 720px) {
   .sectionHomeNews{
      display: flex;
      justify-content: center;
      align-items: center;
   }
}

@media (min-width:721px) {
   .divHomeNews{
      position: relative;
      top: 150px;
      left: 150px;
   }
}

.divHomeNews img{
   width: 95%;
   margin-bottom: 20px;
}

.divHomeNews h2{
   font-size: 2em;
   text-align: center;
   margin-bottom: 20px;
}

.divHomeNews p{
   font-size: 1.5rem;
   text-align: center;
}

/* SEGUNDA SECTION */

/* CONFIGURAÇÃO DA SECTION */

.sectionRedesSociais{
   width: 100%;
   min-height: 100vh;
   background-color: rgba(255, 255, 255, 0.2);

   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
}

.sectionRedesSociais h2{
   font-size: 4em;
   text-align: center;
   margin-top: 25px;
}

.divRedesSociais{
   width: 70%;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
}

.divRedesSociais img{
   width: 175px;
   border-radius: 50%;
   background-color: white;
   margin-top: 300px;
}

@media (min-width:320px) and (max-width: 720px) {
   .divRedesSociais{
      margin-top: 100px;
   }
   .divRedesSociais img{
      width: 125px;
      margin-top: 50px;
   }
}
