.navbar {
   padding: 10px;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-around;
   background-color: transparent;
   background-color: var(--light-blue);
}

.navLinks {
   list-style: none;
   display: flex;
   flex-direction: row;
   gap: 30px;
   margin: 0;
   background-color: transparent;
}

.menuIcon {
   display: none;
   color: black;
   font-size: 2rem;
}

@media (max-width: 768px) {
   .navbar {
      justify-content: flex-start;
   }

   .navLinks {
      display: none;
      width: 100%;
      flex-direction: column;
      text-align: center;
   }

   .navLinksMobile {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 25px;
      height: 300px;
      width: 435px;
   }

   .navbarContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
   }

   .menuIcon {
      display: block;
      height: 100%;
   }
}
