.mainSignUp{
    min-height: calc(100vh);
    background-color: var(--sabrina-newspaper);
    
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .mainSignUp{
        align-items: flex-start;
        background-color: var(--pure-white);
    }
}